[package]
name = "nntp-rs"
version = "0.1.0"
authors = ["Miquel van Smoorenburg <mikevs@xs4all.net>"]
edition = "2018"

[lib]
name = "nntp_rs"
path = "src/lib.rs"

[[bin]]
name = "nntp-rs-server"
path = "src/main.rs"

# Include debug info in release builds.
[profile.release]
debug = true

# Build dependencies in optimized mode, even for debug builds.
[profile.dev.package."*"]
opt-level = 3

# Build dev-dependencies in non-optimized mode, even for release builds.
[profile.dev.build-override]
opt-level = 0

[dependencies]
arc-swap = "0.4.4"
bytes = "0.5.4"
chrono = "0.4.10"
clap = "2.33.0"
core_affinity = "0.5.10"
crossbeam-channel = "0.4.0"
crossbeam-queue = "0.2.1"
dns-lookup = "1.0.1"
futures = "0.3.1"
fs2 = "0.4.3"
jemallocator = "0.3.2"
ipnet = "2.1.0"
libc = "0.2.66"
linked-hash-map = "0.5.2"
log = "0.4.8"
md5 = "0.7.0"
memchr = "2.3.0"
memmap = "0.7.0"
net2 = "0.2.33"
num_cpus = "1.12.0"
once_cell = "1.3.1"
parking_lot = "0.10.0"
regex = "1.3.3"
serde = "1.0.104"
serde_derive = "1.0.104"
serde_json = "1.0.45"
structopt = "0.3.8"
syslog = "5.0.0"
tokio = { version = "0.2.11", features = [ "full" ] }
toml = "0.5.6"
users = "0.9.1"
smallvec = "1.1.0"
lock_api = "0.3.3"

[dev-dependencies]
env_logger = "0.7.1"
criterion = "0.3.1"

[[bench]]
name = "clocksources"
harness = false

[[bench]]
name = "nntp_rs"
harness = false
