[Unit]
Description=NNTP Server
After=network.target
ConditionPathExists=/etc/news/config.cfg

[Service]
ExecStart=/usr/sbin/nntp-rs-server -c /etc/news/config.cfg serve
KillMode=process

[Install]
WantedBy=multi-user.target

